<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title> {% block title %} Lab 1: Recipe Book {% endblock %} </title>
        {% block styles %}{% endblock %}
    </head>
    <body>
        <div class="container", style="
            display: grid;
            grid-template: 'h h .';
            align-items: center;
            height: 60px;">

            <div style="grid-column-start: 1; grid-column-end: 3;">
                <h1>Recipe Book</h1>
            </div>

            <div style="display: flex; align-items: center; column-gap: 10px;">
                <div>
                    {% if user.is_authenticated %}
                        <p>Welcome, {{ user.username }}.</p>
                    {% endif %}
                </div>
                {% if user.is_authenticated %}
                    <form method="post", action="{% url 'logout' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Logout</button>
                    </form>
                {% else %}
                    <form method="post", action="{% url 'login' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Login</button>
                    </form>
                {% endif %}
            </div>
        </div>

        <hr>
        <h2>{% block header %}Header{% endblock header %}</h2>

        {% block content %}{% endblock %}
    </body>
</html>