.same-line {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.extend-recipe {
	display: flex;
	align-items: center;
	column-gap: 12ch;
}

.button {
	display: flex;
	align-items: center;
	column-gap: 5px;
	text-decoration: none;
}

.small {
	font-size: 13px;
}

.top-head {
	display: grid;
	grid-template: 'h h .';
	align-items: center;
	height: 60px;
}

.page-title {
	grid-column-start: 1;
	grid-column-end: 3;
}

.user {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.recipe {
	display: flex;
	align-items: center;
	column-gap: 5px;
	height: 10px;
}

.recipe-image {
	display: block;
	margin: auto;
	object-fit: cover;
	max-width: 15%;
	height: auto;
	text-align: center;
}

.image {
	display: flex;
}