{% extends 'base_template.html' %}
{% load static %}
{% block header %}Recipe Details{% endblock header %}
{% block content %}
{% if recipe.recipe_image %}
    {% for img in recipe.recipe_image.all %}
        <img class="recipe_image" src="{{ img.image.url }}" alt="{{ img.description }}">
    {% endfor %}
{% endif %}
<br>
    <div class="recipe">
        <h3>{{ recipe.name }}</h3>
        <p>by {{ recipe.author }}</p>
    </div>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>{{ingredient.quantity}} {{ingredient.ingredient.name}}</li>
        {% endfor %}
    </ul>
{% endblock content %}